.puzzle{
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "p01 p01 p02 p03"
        "p04 p05 p05 p03"
        "p06 p07 p08 p08"
        "p06 p09 p09 p10";
}

#piece01{
    grid-area: p01;
}
#piece02{
    grid-area: p02;
}
#piece03{
    grid-area: p03;
}
#piece04{
    grid-area: p04;
}
#piece05{
    grid-area: p05;
}
#piece06{
    grid-area: p06;
}
#piece07{
    grid-area: p07;
}
#piece08{
    grid-area: p08;
}
#piece09{
    grid-area: p09;
}
#piece10{
    grid-area: p10;
}
